@font-face {
  font-family: MC;
  src: url("https://raw.githubusercontent.com/32Vache/msx-stats/main/css/mc.otf");
}

body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

.greyBox {
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  background: #888888;
  border: 2px solid #000000;
  padding: 10px;
  width: auto;
  height: auto;
  margin: 4px;
}

.greyBox.dark-theme {
  text-align: center;
  display: inline-block;
  border-radius: 0px;
  background: #333333;
  border: 2px solid #000000;
  padding: 10px;
  width: auto;
  height: auto;
  margin: 4px;
}

.roundedBox {
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  background: #dddddd;
  padding: 16px;
  width: 110px;
  height: 80px;
  margin: 6px;
}

.roundedBox.dark-theme {
  text-align: center;
  display: inline-block;
  border-radius: 25px;
  background: #222222;
  padding: 16px;
  width: 110px;
  height: 80px;
  margin: 6px;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
  .greyBox.light-theme {
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    background: #888888;
    border: 2px solid #000000;
    padding: 10px;
    width: auto;
    height: auto;
    margin: 4px;
  }

  .greyBox {
    text-align: center;
    display: inline-block;
    border-radius: 0px;
    background: #333333;
    border: 2px solid #000000;
    padding: 10px;
    width: auto;
    height: auto;
    margin: 4px;
  }

  .roundedBox.light-theme {
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    background: #dddddd;
    padding: 16px;
    width: 110px;
    height: 80px;
    margin: 6px;
  }

  .roundedBox {
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    background: #222222;
    padding: 16px;
    width: 110px;
    height: 80px;
    margin: 6px;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--text-color);
  background: var(--bkg-color);
}

h1 {
  font-family: MC, sans-serif;
}

#stats {
  width: 100%;
  display: flex;
}

.footer {
  position: absolute;
  padding: 2px;
  left: 0px;
  bottom: 0px;
  background: #77777777;
}
